*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: #191919;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.box{
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: img-rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border: 50px solid #fff;
    border-radius: 50%;
}
@keyframes img-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
.rotate{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    animation-name: rotate-img;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    height: 50px;
}
@keyframes rotate-img {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
.top-left{
    top: 0;
    left: 50px;
    transform: translate(50% , -100%);
}
.top-right{
    top: 50%;
    right: 0;
    transform: translate(100%,-50%);
}
.bottom-left{
    bottom: 0;
    right: 50%;
    transform: translate(50%,100%);
}
.bottom-right{
    bottom: 50%;
    left: 0;
    transform: translate(-100%,50%);
}